@using MvcPracticalExercise.Models
@model List<Quote>

<div class="row no-gutters m-3">
  <div class="card col-sm-20 col-med-18 col-lg-16 mx-auto shadow">
    <div class="card-header text-center">
      <h1 class="m-0 bg-primary">Admin Page</h1>
    </div>
    <div class="card-body bg-success">
      <h3 class="bg-primary text-center">Submitted Quotes</h3>
      
      @foreach (var quote in Model)
      {
        <div class="col-2">
          <p>
            Name:
            @quote.FirstName @quote.LastName
          </p>
        </div>

        <div class="col-2">
          <p>
            Email Address:
            @quote.EmailAddress
          </p>
        </div>

        <div class="col-2">
          <p>
           Calculated Price: $@quote.PriceQuote
          </p>
          <br />
        </div>
      }
    </div>
  </div>
</div>