<div class="row no-gutters m-3">
  <div class="card col-sm-20 col-med-18 col-lg-16 mx-auto shadow">
    <div class="card-header text-center">
      <h1 class="m-0 bg-primary">Success!</h1>
    </div>
    <div class="card-body bg-success">
      <p class="text-center">Thank you for submitting your information <br />
      An agent will reach out to you via the provided email address with your personalized quote.<br />
      Quotes can take between 24-48 hours. If you do not hear from an agent please feel free to reach out to us at fakeemail@address.com or call customer care at 1800-fakenumber.<br />
      We look forward to serving you</p>
     
    </div>
  </div>
</div>